---
export const prerender = true;
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage
  frontmatter={{ title: '关于', description: '这个站点是什么，以及为什么存在。', tableOfContents: false }}
  hasSidebar={false}
  headings={[]}
>
  <p>内容建设中。</p>
</StarlightPage>
